<header class="header" id="header">
    <div class="header__title">
        <a href="/">
            {{@site.title}}
        </a>
    </div>
    <div class="header__nav">
        <a href="#" class="header__nav-button" id="menushow">
            <span class="material-icons">
                menu
            </span>
        </a>
        {{navigation}}
    </div>
</header>