{{!< default}} {{> hero background=@site.cover_image}}

  <main class="post">
    <div class="post-header">
      <h1 class="post-header__title">
        {{statusCode}} - {{message}}
      </h1>
    </div>
  </main>